<aside>
  <a [routerLink]="['/dashboard']" class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Dashboard.png" alt="">Dashboard</a><hr>
  <a class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Receber.png" alt="">Têxtil e Consignados</a><hr>
  <a [routerLink]="['/leitorlav']" class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Lavar.png" alt="">Lavar</a><hr>
  <a [routerLink]="['/preparar']" class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Preparar.png" alt="">Preparar</a><hr>
  <a [routerLink]="['/esterilizar']" class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Esterilizar.png" alt="">Esterilizar</a><hr>
  <a class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Armazenar.png" alt="">Armazenar</a><hr>
  <a class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Distribuir.png" alt="">Distribuir</a><hr>
  <a class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Config.png" alt="">Gerenciar</a><hr>
  <a class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Ajuda.png" alt="">Ajuda</a><hr>
  <a class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Logoff.png" alt="">Trocar Usuário</a><hr>
  <a class="nav-link" href="#"><img src="../../assets/Imagens/Favoritas/Sair.png" alt="">Sair</a>
</aside>