<div class="principal">
    <div class="info">
        <p>Lavar Caixa</p>
        <div class="group1">
            <div class="lin">
                <label for="">Código</label>
                <input type="text">
            </div>
            <div class="lin">
                <label for="">Descrição</label>
                <input type="text">
            </div>
            <div class="lin">
                <label for="">Nome</label>
                <input type="text">
            </div>
            <div class="lin">
                <label for="">Especialidade</label>
                <input type="text">
            </div>
            <div class="lin">
                <label for="">Setor</label>
                <input type="text">
            </div>
        </div>
        <div class="group2">
            <div class="lin">
                <label for="">Ítem</label>
                <input type="text">
            </div>
            <div class="lin">
                <label for="">Descrição</label>
                <input type="text">
            </div>
            <div class="lin">
                <label for="">Contido em</label>
                <input type="text">
            </div>
            <div class="lin">
                <label for="">Setor</label>
                <input type="text">
            </div>
            <div class="lin">
                <label class="setor">Setor</label>
                <select class="selec">
                    <option class="op">UTI</option>
                    <option class="op">Centro Cirúrgico</option>
                    <option class="op">Emergência</option>
                </select>
            </div>
        </div>
        <div class="group3">
            <canvas>imagem</canvas>
        </div>
        <div class="group4">
            <button type="button" class="btn btn-dark">Ítem com defeito</button>
            <button type="button" class="btn btn-dark">Informar extravio</button>
            <button type="button" class="btn btn-dark">Excluir ítem</button>
            <button type="button" class="btn btn-dark">Limpar lista</button>
            <button type="button" class="btn btn-dark">Cancelar</button>
            <button type="button" class="btn btn-dark">Concluir</button>
        </div>
        <div class="group5">
            <div class="lin">
                <label for="">Operador</label>
                <input id="hidden" type="text">
            </div>
            <div class="lin">
                <label for="">Ítens Restantes</label>
                <input id="hidden" type="text">
            </div>
        </div>
    </div>
    <div class="tab1">
        <p>Ítens Recebidos</p>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Data e hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab2">
        <p>Conteúdo da Caixa</p>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Mark</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Larry</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
