<div class="all">
    <div class="leitor">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="cod">
            <label for="">Localize o código de identificação</label>
            <input class="inp" type="text">
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-secondary">Trocar detergente</button>
            <button type="button" class="btn btn-secondary">Anexar testes</button>
            <button type="button" class="btn btn-danger">Cancelar</button>
        </div> 
    </div>
</div>