<div class="dash">
    <div class="horiz">
        <div class="vert" id="group1">
            <div class="horiz" >
                <div class="card" id="card1"></div>
                <div class="card" id="card2"></div>
            </div>
            <div class="card" id="card3"></div>
        </div>
        <div class="card" id="card4"></div>
    </div>
    <div class="horiz">
        <div class="vert" id="group2">
            <div class="card" id="card5"></div>
            <div class="card" id="card6"></div>
        </div>
        <div class="vert" id="group3">
            <div class="card" id="card7"></div>
            <div class="card" id="card8"></div>
        </div>
    </div>
</div> 