/*.dash {

}*/

.horiz {
    display: flex;
}

/*.vert {

}*/

.card {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 3px;
}

#group1 {
    width: 40%;
}

#group2 {
    width: 100%;
}

#group3 {
    width: 40%;
}

#card1 {
    width: 49%;
    height: 200px;
}

#card2 {
    width: 49%;
    height: 200px;
}

#card3 {
    width: 99%;
    height: 200px;
}

#card4 {
    width: 60%;
    height: 405px;
}

#card5 {
    width: 99%;
    height: 405px;
}

#card6 {
    width: 99%;
    height: 405px;
}

#card7 {
    width: 99%;
    height: 405px;
}

#card8 {
    width: 99%;
    height: 405px;
}